In [2]:
import pandas as pd
import numpy as np
import os
import urllib
import matplotlib
%matplotlib inline

identify the csv file from world health organization

In [3]:
url="https://covid19.who.int/WHO-COVID-19-global-data.csv"
filpath=os.path.join("data","covid")
os.makedirs(filpath,exist_ok=True)

In [4]:
csvPath=os.path.join(filpath,"WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csvPath)

('data\\covid\\WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x20b50fc3ec8>)

In [6]:
df=pd.read_csv(csvPath)
df.head(7)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
5,2020-01-08,AF,Afghanistan,EMRO,0,0,0,0
6,2020-01-09,AF,Afghanistan,EMRO,0,0,0,0

In [9]:
df.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.059530e+05      2.059530e+05  205953.000000      205953.000000
mean   2.534173e+03      6.596010e+05      30.464829       12102.816871
std    1.656596e+04      3.472685e+06     162.078392       55999.021990
min   -3.295200e+04      0.000000e+00   -2440.000000           0.000000
25%    0.000000e+00      2.320000e+02       0.000000           2.000000
50%    2.400000e+01      1.223100e+04       0.000000         158.000000
75%    5.030000e+02      1.754420e+05       6.000000        2898.000000
max    1.253135e+06      8.211763e+07   11447.000000      993691.000000

In [14]:
#remove whitespace
df.columns=[col.strip() for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [32]:
df.loc[(df.Country=='Egypt') & (df.New_deaths>90),["Country_code","Date_reported","New_deaths"]]

      Country_code Date_reported  New_deaths
53173           EG    2020-06-15          91
53174           EG    2020-06-16          97
53175           EG    2020-06-17          94

In [41]:
print('the max new cases in Egypt:' , df.loc[df.Country_code=='EG',['New_cases']].max() )
print('the max new death cases in Egypt:' , df.loc[df.Country_code=='EG',['New_deaths']].max() )

the max new cases in Egypt: New_cases    5516
dtype: int64
the max new death cases in Egypt: New_deaths    97
dtype: int64

In [44]:
df["Percentage_Cases"]=(df["New_cases"]/df["Cumulative_cases"]) * 100

df.loc[(df.Country=='Egypt') & (df.New_deaths>90),["Country_code","New_cases","Cumulative_cases","Percentage_Cases"]]

      Country_code  New_cases  Cumulative_cases  Percentage_Cases
53173           EG       1618             44598          3.627965
53174           EG       1691             46289          3.653136
53175           EG       1567             47856          3.274407